.about {
  color: #3d2b1f;
}
.content {
  padding: 70px 5%;
}
.content-text {
  max-width: 550px;
  padding-block-start: 5px;
}
.content-text h2 {
  color: #3d2b1f;
}
.content-img {
  width: 100%;
  max-width: 500px;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
}
